*{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

/* MENU */
body {
    font-family: "PT Sans", sans-serif;
    background-color: #ffffff;
    margin-top: 150px;
}
#menu {
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar {
    height: 5px;
    width: 100%;
    background-color: #b815ab;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1 {
    transform: translateY(-4px);
}
#bar3 {
    transform: translateY(4px);
}
.nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.nav li a:hover {
    font-weight: bold;
}
.nav li {
    list-style: none;
    padding: 16px 0;
  }
.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}
.menu-bg,
#menu-bar {
    top: 0;
    left: 0;
    position: absolute;
}
.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #fb6ced, #b815b0);
    border-radius: 50%;
    transition: 0.3s ease;
}
#menu-bar {
    z-index: 2;
}
.change-bg {
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}
.change .bar {
    background-color: white;
}
.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
.change #bar2 {
    opacity: 0;
}
.change {
    display: block;
}
/*FIM MENU*/

/* título - livros Colleen Hoover */

.site-heading {
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}
.site-heading h2 {
    display: block;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}
    
.site-heading h2 span {
    /*color: #ff5a6e; */
    color: #bf68f1;
}

.left-image {
    float: left;
    margin-right: 20px;
    width: 50%;
    border-radius: 70px;
}
.right-image {
    float: right;
    margin-left: 20px; /* Separa a imagem do texto */
    width: 50%;
    border-radius: 50px;
}
.img-text {
    overflow: hidden; /*evita que o texto ultrapasse as imagens*/
    margin-bottom: 20px;
}
.img-text p {
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 40px;
}
.img-text-2 p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 50px; /*espaço interno (padding) acima do texto */
}


/*RODAPÉ*/
footer {
    background-color: #f7e1fd96;
    padding: 20px;
    text-align: center;
}
/*FIM RODAPÉ*/


@media screen and (max-width: 1280px) {
    .container {
        padding-left: 4%;
        padding-right: 4%;
    }
    
    nav ul li {
        margin-right: 15px;
    }
    
    main {
        width: 90%;
    }
    
    .banner {
        flex-direction: column;
    }
    
    .left-column, .right-column {
        flex-basis: 100%;
    }
    
    .right-column img {
        width: 100%;
        max-width: 100%;
    }
    
    .left-column h1 {
        font-size: 40px;
    }
    
    .left-column h3 {
        font-size: 20px;
    }
    
    .left-column p {
        margin: 10px 0;
    }
    
    .btn {
        margin-bottom: 20px;
    }
}
